@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@media print {
	body {
		font-size: 11pt;
	}
	h2, h3, h4, h5 {
		page-break-after: avoid;
	}
	#table-of-contents {
		/* Page break after table of contents */
		page-break-after: always;
	}
	.figure {
		/* Figure stays together with caption */
		page-break-inside: avoid;
	}
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #0D0E1C;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h3 {
    color: #c0965b
}

h5 {
    color: #cf7fa7
}

a { color: #79A8FF; }

.example {
    background-color: #0D0E1C;
    color: #6ae4b9
}

.timestamp {
    color: #00d3d0
}

